<div class="main-field">
  <p id="notice"><%= notice %></p>
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Podania o urlop</h3>
  </div>
  <div class="row">
    <table class="striped col l10 offset-l1">
      <tr>
      <th>Pracownik</th>
      <th>Początek urlopu</th>
      <th>Koniec urlopu</th>
      <th>Ilość dni</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacation_requests.sort.each do |vacation_request| %>
      <tr>
        <td><%= vacation_request.employee.combined_value %></td>
        <td><%= vacation_request.start_date %></td>
        <td><%= vacation_request.end_date %></td>
        <td><%= vacation_request.how_many_days %></td>
        <td><%= vacation_request.status %></td>
        <td><% if vacation_request.status == 'Zgłoszono'%>
            <%= link_to 'Edytuj', edit_vacation_request_path(vacation_request) %>
          <%end%></td>
        <td><% if vacation_request.status == 'Zgłoszono'%>
            <%= link_to 'Usuń', vacation_request, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %>
          <%end %></td>
        <td><% if vacation_request.status == 'Zgłoszono'%>
            <%= link_to 'Zgoda', action: 'accept', id: vacation_request.id,
                        data: { confirm: 'Czy na pewno chcesz udzielić zgody?'}%>
          <%end %></td>
        <td><% if vacation_request.status == 'Zgłoszono'%>
            <%= link_to 'Odmowa', action: 'reject', id: vacation_request.id,
                        data: { confirm: 'Czy na pewno chcesz odmówić?'}%>
          <%end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>