<div class="row add-client">
<%= form_for @client do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<div class="row add-client">      
  <div id="client-input" class="input-field col l4 offset-l2">
    <%= form.text_field :name, id: :client_name, placeholder: "Imię"%>
    <label for="client_name" generated="true" class="error error_label"></label>
  </div>

  <div id="client-input" class="input-field col l4">
    <%= form.text_field :surname, id: :client_surname, placeholder: "Nazwisko"%>
    <label for="client_surname" generated="true" class="error error_label"></label>
  </div>
</div>

<div class="row add-client">      
  <div id="client-input" class="input-field col l4 offset-l2">
    <%= form.text_field :email, id: :client_email, placeholder: "Email"%>
    <label for="client_email" generated="true" class="error error_label"></label>
  </div>

  <div id="client-input" class="input-field col l4">
    <%= form.text_field :phone_number, id: :client_phone_number, placeholder: "Nr telefonu", maxlength: 9%>
    <label for="client_phone_number" generated="true" class="error error_label"></label>
  </div>
</div>


<div class="row add-client">
  <div id="client-input" class="input-field col l4">
    <%= form.password_field :password, id: :client_password, type: "password", placeholder: "Hasło"%>
    <label for="client_password" generated="true" class="error error_label"></label>
  </div>

  <div id="client-input" class="input-field col l4">
    <%= form.password_field :confirmation, id: :client_confirmation, type: "password", placeholder: "Podaj ponownie hasło"%>
    <label for="client_confirmation" generated="true" class="error error_label"></label>
  </div>


    <div id="client-input" class="input-field col l4">
      <%= form.collection_select :employee_id, Employee.all,
                                        :id, :combined_value,
                                        include_blank: 'Przypisz pracownika',
                                        id: :client_employee%>
      <label for="client_employee" generated="true" class="error error_label"></label>
    </div>
</div>
<div class="row add-client">
    <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
      <i id="submit-icon" class="material-icons right">send</i>
    <%= form.submit "Zapisz"%>
    </button>
</div>

<% end %>
</div>
<script type="text/javascript">
  <%= render "validate.js" %>
  $(document).ready(function() {
      $('select').material_select({

          belowOrigin: true

      });
  });
</script>