<p id="notice"><%= notice %></p>
<div class="main-field">
<h3 class="col s6 offset-s3" align="center">Lista klientów</h3>

<table>
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
      <th>Hasło</th>
      <th>Pracownik</th>
      <th>Korzysta z wypożyczalini?</th>
      <th>Korzysta z serwisu?</th>
      <th>Zamówił auto?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.email %></td>
        <td><%= client.phone_number %></td>
        <td><%= client.password %></td>
        <td><%= client.employee %></td>
        <td><%= client.use_renting %></td>
        <td><%= client.use_service %></td>
        <td><%= client.buy_car %></td>
        <td><%= link_to 'Wyświetl', client%></td>
        <td><%= link_to 'Edytuj', edit_client_path(client) %></td>
        <td><%= link_to 'Usuń', client, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'Dodaj klienta', new_client_path %>
