<div class="row add-supply-item">
<%= form_for @supply do |form| %>
  <% if supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
      <% supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row add-supply-item">
      <div id="supply-item-input" class="input-field col l4">
        <%= form.text_field :date, id: :supply_date, class: "datepicker", placeholder: 'Podaj datę' %>
        <label for="supply_date" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l4">
        <% supplier_array = Supplier.all.map { |supplier| [supplier.data, supplier.id] } %>
        <%= form.select(:supplier_id, options_for_select(supplier_array), :prompt => 'Wybierz dostawcę')%>
        <label for="supply_supplier_id" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l4">
        <% product_array = Warehouse.all.map { |warehouse| [warehouse.element, warehouse.id] } %>
        <%= form.select(:product_id, options_for_select(product_array), :prompt => 'Wybierz produkt')%>
        <label for="supply_supplier_id" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l4">
        <%= form.text_field :amount, id: :supply_amount, placeholder: 'Podaj ilość' %>
        <label for="supply_date" generated="true" class="error error_label"></label>
      </div>

      <div id="warehouse-item-input" class="input-field col l4">
        <%= form.select(:status, [['Niski', 'Niski'], ['Średni', 'Średni'], ['Wysoki', 'Wysoki']], :prompt => 'Wybierz priorytet') %>
      </div>
    </div>

    <div class="row add-supply-item">
      <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
        <i id="submit-icon" class="material-icons right">send</i>
        <%= form.submit "Zapisz"%>
      </button>
    </div>
<% end %>
</div>
<script>
    $.extend($.fn.pickadate.defaults, {
        monthsFull: [ 'Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień' ],
        monthsShort: [ 'Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru' ],
        weekdaysFull: [ 'Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota' ],
        weekdaysShort: [ 'Nie', 'Pon', 'Wto', 'Śro', 'Czw', 'Pią', 'Sob' ],
        weekdaysLetter: [ 'N', 'P', 'W', 'Ś', 'C', 'P', 'S' ],
        today: 'Dziś',
        clear: 'Wyczyść',
        close: 'Zatwierdź',
        formatSubmit: 'yyyy-mm-dd'
    });
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        firstDay: 1,
        max: new Date(<%Date.today.to_s%>),
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        closeOnSelect: true
    });
    $(document).ready(function() {
        $('select').material_select({
            belowOrigin: true
        });
    });
</script>