<div class="row add-supply-item">
<%= form_for @supply do |form| %>
  <% if supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
      <% supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row add-supply-item">
      <div id="supply-item-input" class="input-field col l5">
        <% supplier_array = Supplier.all.map { |supplier| [supplier.data + " | " + supplier.products, supplier.id] } %>
        <%= form.select(:supplier_id, options_for_select(supplier_array), :prompt => 'Wybierz dostawcę')%>
        <label for="supply_supplier_id" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l3">
        <% product_array = Warehouse.all.map { |warehouse| [warehouse.element, warehouse.id] } %>
        <%= form.select(:product_id, options_for_select(product_array), :prompt => 'Wybierz produkt')%>
        <label for="supply_supplier_id" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l1">
        <%= form.text_field :amount, id: :supply_amount, placeholder: 'Podaj ilość' %>
        <label for="supply_date" generated="true" class="error error_label"></label>
      </div>

      <div id="warehouse-item-input" class="input-field col l3">
        <%= form.select(:status, [['Zebrano', 'Zebrano'], ['Zamówiono', 'Zamówiono'],
                                  ['Odebrano', 'Odebrano']], :prompt => 'Wybierz status') %>
      </div>
    </div>

    <div class="row add-supply-item">
      <div class="btn right">
        <span>
          <%= link_to 'Anuluj', supplies_path %>
          <i class="material-icons right">cancel</i>
        </span>
      </div>
      <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
        <i id="submit-icon" class="material-icons right">send</i>
        <%= form.submit "Zapisz"%>
      </button>
    </div>
<% end %>
</div>
<script>
    $(document).ready(function() {
        $('select').material_select({
            belowOrigin: true
        });
    });
</script>