<div class="row add-supply-item">
  <%= form_for @supply do |supply_form| %>
    <% if @supply.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

        <ul>
          <% @supply.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row add-supply-item">
      <div id="supply-item-input" class="input-field col l5 offset-l2">
        <%= supply_form.collection_select :supplier_id, Supplier.all,
                                          :id, :combined_value,
                                          include_blank: 'Wybierz dostawcę',
                                          id: :supply_supplier%>
        <label for="supply_supplier_id" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l3">
        <%= supply_form.select(:status, [['Zebrano', 'Zebrano'], ['Zamówiono', 'Zamówiono'],
                                         ['Odebrano', 'Odebrano']], include_blank: 'Wybierz status') %>
        <label for="supply_status" generated="true" class="error error_label"></label>
      </div>
    </div>
    <div class="row add-supply-item">

      <div class="col l2 offset-l1">
        <a class="btn-floating btn-medium waves-effect waves-light green" id="add-product">
          <i class="material-icons">add</i></a>
        <a class="btn-floating btn-medium waves-effect waves-light red" id="delete-product">
          <i class="material-icons">remove</i></a>
      </div>

      <div id="service-center" class="input-field col l2 offset-l2">
        <h5 class="center">Lista elementów:</h5>
      </div>

    </div>



        <%= supply_form.fields_for :supplies_warehouses do |amount_field| %>
          <div class="products">
            <div class="row add-supply-item">
          <div id="warehouse-product" class="input-field col l3 offset-l4">
            <%= amount_field.collection_select :warehouse_id, Warehouse.all, :id, :element, :prompt => 'Wybierz produkt'%>
            <%= amount_field.hidden_field(:_destroy) %>
            <label for="supply_supplies_warehouses_attributes_0_warehouse_id" generated="true" class="error error_label warehouse"></label>
          </div>


          <div id="warehouse-amount" class="input-field col l1">
            <%= amount_field.text_field :amount, placeholder: 'Podaj ilość' %>
            <label for="supply_supplies_warehouses_attributes_0_amount" generated="true" class="error error_label amount"></label>
          </div>
          </div>
      </div>
        <% end %>

    <div class="row add-supply-item">
      <%= link_to content_tag(:div, '',class: 'btn right') {
        content_tag(:span, 'Anuluj') +
            content_tag(:i, 'cancel', class: 'material-icons right')
      }, supplies_path %>
      <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
        <i id="submit-icon" class="material-icons right">send</i>
        <%= supply_form.submit 'Zapisz'%>

      </button>
    </div>
  <% end %>
  </div>
  <script>
      $(document).ready(function() {
          var name = $(document).find("form").attr('class');
          if (name === 'edit_supply') {
              <%= render "validateEdit.js" %> }
          else {
              <%= render "validateNew.js" %>
              $(".initialized").css({display: "none", height: 0, padding: 0, width: 0});
              $("input[id*='amount']").each(function() {
                  $(this).rules('add', {
                      required: true,
                      minValue: 0,
                      messages: {
                          required: "Należy podać liczbę",
                          minValue: "Liczba musi być większa niż 0"
                      }
                  });
              });

              $("select[name*='warehouse_id']").each(function() {
                  $(this).rules('add', {
                      required: true,
                      messages: {
                          required: "Należy wybrać produkt"
                      }
                  });
              });
          }
          $('select').material_select({

              belowOrigin: true

          });
          $(".initialized").css({display: "none", height: 0, padding: 0, width: 0});



          $('#add-product').on('click', function() {

              var date = new Date();
              var mSec = date.getTime();
              idAttributProduct =
                  "supply_supplies_warehouses_attributes_0_warehouse_id".replace("0", mSec);
              nameAttributProduct =
                  "supply[supplies_warehouses_attributes][0][warehouse_id]".replace("0", mSec);

              idAttributAmount =
                  "supply_supplies_warehouses_attributes_0_amount".replace("0", mSec);
              nameAttributAmount =
                  "supply[supplies_warehouses_attributes][0][amount]".replace("0", mSec);

              idAttributDestroy =
                  "supply_supplies_warehouses_attributes_0__destroy".replace("0", mSec);
              nameAttributDestroy =
                  "supply[supplies_warehouses_attributes][0][_destroy]".replace("0", mSec);

              $(".products:first").clone(true).insertAfter(".products:last");
              $(".products").last().find("#supply_supplies_warehouses_attributes_0_warehouse_id").attr('name', nameAttributProduct);
              $(".products").last().find("#supply_supplies_warehouses_attributes_0_warehouse_id").attr('id', idAttributProduct);
              $(".products").last().find(".warehouse").attr('for', idAttributProduct);
              $(".products").last().find(".amount").attr('for', idAttributAmount);
              $(".products").last().find(".select-dropdown").addClass(idAttributProduct);
              $(".products").last().find("#supply_supplies_warehouses_attributes_0_amount").attr('name', nameAttributAmount);
              $(".products").last().find("#supply_supplies_warehouses_attributes_0_amount").attr('id', idAttributAmount);
              $(".products").last().find("input[name*='_destroy']").attr('name', nameAttributDestroy);
              $(".products").last().find("input[name*='_destroy']").attr('id', idAttributDestroy);
              $("input[id*='amount']").each(function() {
                  $(this).rules('add', {
                      required: true,
                      minValue: 0,
                      messages: {
                          required: "Należy podać liczbę",
                          minValue: "Liczba musi być większa niż 0"
                      }
                  });
              });

              $("select[name*='warehouse_id']").each(function() {
                  $(this).rules('add', {
                      required: true,
                      messages: {
                          required: "Należy wybrać produkt"
                      }
                  });
              });
              $('select').material_select({
                  belowOrigin: true
              });
              return false;
          });
          $('#delete-product').on('click', function() {
              $(".products").last().find("input[name*='_destroy']").attr('value', true);
              $(".products:not(:first)").last().hide().attr('class', "product-delete");
          });
      });
  </script>