<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Zamówienia</h3>
  </div>
  <div class="row">
    <table class="striped col l10 offset-l1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Data</th>
      <th>Dostawca</th>
      <th>Produkt</th>
      <th>Ilość</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
    <% suplier = Supplier.find(supply.supplier_id)%>
    <% #element = Warehouse.find(supply.product_id)%>
      <tr>
        <td><%= supply.id %></td>
        <td><%= supply.date %></td>
        <td><%= suplier.data %></td>
        <td><%#= element.element %></td>
        <td><%#= supply.amount %></td>
        <td><%= supply.status %></td>
        <td><% if (supply.status != 'Odebrano')%> <%= link_to 'Edytuj', edit_supply_path(supply) %> <%end%></td>
        <td><% if (supply.status != 'Odebrano')%>
            <%= link_to 'Usuń', supply, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %>
            <%end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
