<p id="notice"><%= notice %></p>

<h1>Supplies Elements</h1>

<table>
  <thead>
    <tr>
      <th>Supply</th>
      <th>Element</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplies_elements.each do |supplies_element| %>
      <tr>
        <td><%= supplies_element.supply %></td>
        <td><%= supplies_element.element %></td>
        <td><%= supplies_element.amount %></td>
        <td><%= link_to 'Show', supplies_element %></td>
        <td><%= link_to 'Edit', edit_supplies_element_path(supplies_element) %></td>
        <td><%= link_to 'Destroy', supplies_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplies Element', new_supplies_element_path %>
