<%= form_with(model: fault, local: true) do |form| %>
  <% if fault.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fault.errors.count, "error") %> prohibited this fault from being saved:</h2>

      <ul>
      <% fault.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :fault_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :fault_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
