<div class="row add-supply-item">
  <%= form_for @fault do |form| %>
    <% if @fault.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@fault.errors.count, "error") %> prohibited this fault from being saved:</h2>

        <ul>
          <% @fault.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row add-supply-item">
      <div id="supply-item-input" class="input-field col l5 offset-l2">
        <%= form.label :name, "Podaj nazwę usługi" %>
        <%= form.text_field :name, id: :fault_name %>
        <label for="fault_name" generated="true" class="error error_label"></label>
      </div>

      <div id="supply-item-input" class="input-field col l3">
        <%= form.label :price, 'Podaj wartość usługi'%>
        <%= form.text_field :price, id: :fault_price%>
        <label for="fault_price" generated="true" class="error error_label"></label>
      </div>
    </div>
      <div class="row add-supply-item">
        <%= link_to content_tag(:div, '',class: 'btn right') {
          content_tag(:span, 'Anuluj') +
              content_tag(:i, 'cancel', class: 'material-icons right')
        }, faults_path %>
        <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
          <i id="submit-icon" class="material-icons right">send</i>
          <%= form.submit 'Zapisz'%>

        </button>
      </div>
  <% end %>
  </div>
<script>
    <%= render "validate.js" %>
</script>