<p id="notice"><%= notice %></p>

<h1>Faults</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faults.each do |fault| %>
      <tr>
        <td><%= fault.name %></td>
        <td><%= fault.price %></td>
        <td><%= link_to 'Show', fault %></td>
        <td><%= link_to 'Edit', edit_fault_path(fault) %></td>
        <td><%= link_to 'Destroy', fault, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fault', new_fault_path %>
