<%= form_with(model: renting, local: true) do |form| %>
  <% if renting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(renting.errors.count, "error") %> prohibited this renting from being saved:</h2>

      <ul>
      <% renting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.text_field :car_id, id: :renting_car_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :renting_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :renting_end_date %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :renting_client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
