<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Zniżki</h3>
  </div>
  <div class="row">
    <table class="striped col l10 offset-l1">
      <thead>
    <tr>
      <th>Nazwa zniżki</th>
      <th>Od</th>
      <th>Do</th>
      <th>Wartość w %</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.discount_name %></td>
        <td><%= discount.start_date %></td>
        <td><%= discount.end_date %></td>
        <td><%= discount.percentage_value %></td>
        <td><%= link_to 'Pokaż', discount %></td>
        <td><%= link_to 'Edytuj', edit_discount_path(discount) %></td>
        <td><%= link_to 'Usuń', discount, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
