<p id="notice"><%= notice %></p>

<p>
  <strong>Discount name:</strong>
  <%= @discount.discount_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @discount.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @discount.end_date %>
</p>

<p>
  <strong>Percentage value:</strong>
  <%= @discount.percentage_value %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
