<div class="row add-supply-item">
<%= form_for @service_center do |form| %>
  <% if @service_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_center.errors.count, "error") %> prohibited this service_center from being saved:</h2>

      <ul>
      <% @service_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row add-supply-item">
      <div id="supply-item-input" class="input-field col l4">
        <%= form.label :brand, "Podaj markę auta" %>
    <%= form.text_field :brand, id: :service_center_brand %>
        <label for="service_center_brand" generated="true" class="error error_label"></label>
  </div>

      <div id="supply-item-input" class="input-field col l4">
        <%= form.label :model, "Podaj model auta" %>
    <%= form.text_field :model, id: :service_center_model %>
        <label for="service_center_model" generated="true" class="error error_label"></label>
  </div>

      <div id="supply-item-input" class="input-field col l4">
        <%= form.label :license_plate, "Podaj numer rejestracyjny" %>
    <%= form.text_field :license_plate, id: :service_center_license_plate %>
        <label for="service_center_license_plate" generated="true" class="error error_label"></label>
  </div>
    </div>
    <div class="row add-supply-item">
      <div id="supply-item-input" class="input-field col l3 offset-l1">
        <%= form.select(:status, [['Przyjęto', 'Przyjęto'], ['W realizacji', 'W realizacji'],
                                         ['Zakończono', 'Zakończono']], include_blank: "Wybierz status") %>
        <label for="service_center_status" generated="true" class="error error_label"></label>
  </div>

      <div id="supply-item-input" class="input-field col l3">
        <%= form.collection_select :client_id, Client.all,
                                          :id, :combined_value,
                                          include_blank: "Wybierz klienta",
                                          id: :service_center_client%>
        <label for="service_center_client_id" generated="true" class="error error_label"></label>
  </div>

      <div id="supply-item-input" class="input-field col l2">
        <%= form.collection_select :employee_id, Employee.all.where("position = 'mechanik'"),
                                   :id, :combined_name,
                                   include_blank: "Przypisz pracownika",
                                   id: :service_center_employee%>
        <label for="service_center_employee_id" generated="true" class="error error_label"></label>
  </div>

      <div id="supply-item-input" class="input-field col l1">
        <%= form.label :cost, "Podaj koszt" %>
    <%= form.text_field :cost, id: :service_center_cost %>
        <label for="service_center_cost" generated="true" class="error error_label"></label>
  </div>
    </div>
    <div class="row add-supply-item">
      <div class="btn right">
          <span>
            <%= link_to 'Anuluj', service_centers_path %>
            <i class="material-icons right">cancel</i>
          </span>
      </div>
      <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
        <i id="submit-icon" class="material-icons right">send</i>
        <%= form.submit 'Zapisz'%>

      </button>
    </div>
<% end %>
</div>
<script>
    $(document).ready(function() {
        <%= render "validate.js" %>
        $('select').material_select({
            belowOrigin: true
        });
        $(".initialized").css({display: "none", height: 0, padding: 0, width: 0});
    });
</script>