<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @service_center.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @service_center.model %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @service_center.license_plate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service_center.status %>
</p>

<p>
  <strong>Client:</strong>
  <%= @service_center.client %>
</p>

<p>
  <strong>Mechanic:</strong>
  <%= @service_center.mechanic %>
</p>

<p>
  <strong>Beginning date:</strong>
  <%= @service_center.beginning_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @service_center.end_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @service_center.cost %>
</p>

<%= link_to 'Edit', edit_service_center_path(@service_center) %> |
<%= link_to 'Back', service_centers_path %>
