<div class="row add-supply-item">
<%= form_for @ordered_car do |form| %>
  <% if @ordered_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordered_car.errors.count, "error") %> prohibited this ordered_car from being saved:</h2>

      <ul>
      <% @ordered_car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row add-order-car">
      <div id="order-car-input" class="input-field col l3 offset-l2">
        <%= form.collection_select :car_id, CarsToSell.all,
                                   :id, :combined_value,
                                   include_blank: "Wybierz samochód",
                                   id: :ordered_car_car_id%>
  </div>

      <div id="order-car-input" class="input-field col l3">
        <%= form.collection_select :client_id, Client.all,
                                   :id, :combined_value,
                                   include_blank: "Wybierz klienta",
                                   id: :ordered_car_client_id%>
  </div>

      <div id="order-car-input" class="input-field col l2">
        <%= form.select(:status, [['Zebrano', 'Zebrano'], ['Zamówiono', 'Zamówiono'],
                                         ['Odebrano', 'Odebrano']], include_blank: 'Wybierz status') %>
  </div>
    </div>
    <div class="row add-supply-item">
      <div class="btn right">
          <span>
            <%= link_to 'Anuluj', rentings_path %>
            <i class="material-icons right">cancel</i>
          </span>
      </div>
      <button id="submit-button" class="btn waves-effect waves-light right" type="submit" name="action">
        <i id="submit-icon" class="material-icons right">send</i>
        <%= form.submit 'Zapisz'%>

      </button>
    </div>
<% end %>
</div>
<script>
    $(document).ready(function() {

        $('select').material_select({

            belowOrigin: true

        });
    });
</script>