<%= form_with(model: warehouse, local: true) do |form| %>
  <% if warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :element %>
    <%= form.text_field :element, id: :warehouse_element %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :warehouse_amount %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :warehouse_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
