<script type="text/javascript">
  <%= render "layouts/dropdown.js" %>
</script>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Lista', clients_path%></li>
  <li><%= link_to 'Nowy', new_client_path%></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to 'Lista', employees_path%></li>
  <li><%= link_to 'Nowy', new_employee_path%></li>
  <li><%= link_to 'Urlopy', vacations_path%></li>
  <li><%= link_to 'Podania o urlopy', vacation_requests_path%></li>
  <li><%= link_to 'Nowe podanie o urlop', new_vacation_request_path%></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
  <li><%= link_to 'Dodaj auto', new_cars_to_sell_path%></li>
  <li><%= link_to 'Lista', cars_to_sells_path%></li>
  <li><%= link_to 'Dodaj zamówienie', new_ordered_car_path%></li>
  <li><%= link_to 'Zamówienia', ordered_cars_path%></li>
  <li><%= link_to 'Zniżki', discounts_path%></li>
  <li><%= link_to 'Nowa zniżka', new_discount_path%></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
  <li><%= link_to 'Dodaj wypożyczenie', new_renting_path%></li>
  <li><%= link_to 'Wypożyczenia', rentings_path%></li>
  <li><%= link_to 'Auta', rental_cars_path%></li>
  <li><%= link_to 'Dodaj auto', new_rental_car_path%></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
  <li><%= link_to 'Serwis', service_centers_path%></li>
  <li><%= link_to 'Nowa naprawa', new_service_center_path%></li>
  <li><%= link_to 'Usługi', faults_path%></li>
  <li><%= link_to 'Nowa usługa', new_fault_path%></li>
</ul>

<ul id="dropdown6" class="dropdown-content">
  <li><%= link_to 'Magazyn', warehouses_path%></li>
  <li><%= link_to 'Nowa pozycja w magazynie', new_warehouse_path%></li>
  <li><%= link_to 'Dostawcy', suppliers_path%></li>
  <li><%= link_to 'Nowy dostawca', new_supplier_path%></li>
  <li><%= link_to 'Zamówienia', supplies_path%></li>
  <li><%= link_to 'Nowe zamówienie', new_supply_path%></li>
</ul>

<nav id="navbar">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown6">Magazyn<i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown5">Serwis<i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Wypożyczalnia<i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Sprzedaż<i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Pracownicy<i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Klienci<i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
